*{
    margin: 17px;
}
.books{
    /* display: flex; */
    flex-direction: row;
    float: left;
    overflow: auto;
}
.book{
    margin: 14px 27px;
    float: left;
}
p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #06274e;
}
.btn {
    background-color: #345a86;
    border: none;
    color: white;
    padding: 16px 46px;
    text-align: center;
    font-size: 16px;
    margin: 4px 73px;
    transition: 0.5s;
    border-radius: 10px;
    /* display: none; */
  }
  /* 0f6fe4 */
  .btn:hover {
    /* opacity: 0.6 */
    background-color:#06274e;
    cursor: pointer;

}
.cart1{
    width: 59px;
    height: 55px;
}
.cart p{
    position: absolute;
    /* top: 91px; */
    top: 48px;
    font-size: 28px;
    /* position: absolute;
    top: 51px;
    font-size: 28px; */
}
.cart{
    display:  flex;
    position: relative;

}